.section16,
.section17,
.section18 {
  height: 3px;
  flex: 1;
  position: relative;
  background-color: var(--color-forestgreen-100);
  min-width: 476px;
  max-width: 100%;
}
.section17,
.section18 {
  background-color: var(--color-yellowgreen);
}
.section18 {
  background-color: var(--color-goldenrod-200);
}
.section-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
  flex-shrink: 0;
}
.link-icon31,
.link-icon32,
.link-icon33,
.link-icon34 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  min-height: 40px;
}
.link-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs-2) 0 0;
  gap: var(--gap-3xs);
}
.symbol19 {
  margin: 0;
  align-self: stretch;
  height: 30px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.symbol-frame {
  width: 30.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.heading-314,
.synchronizer {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.heading-314 {
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
}
.synchronizer {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  z-index: 1;
}
.sibling-links {
  width: 117.8px;
  flex-direction: column;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}
.frame-parent11,
.frame-wrapper4,
.sibling-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent11 {
  flex-direction: row;
  gap: var(--gap-lgi-8);
}
.frame-wrapper4 {
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.symbol20 {
  margin: 0;
  align-self: stretch;
  height: 30px;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.symbol-wrapper1 {
  width: 30.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.ambedagrioscom3,
.heading-315 {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.heading-315 {
  font-weight: 600;
  display: inline-block;
  min-width: 63px;
}
.ambedagrioscom3 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.tree-builder {
  flex-direction: column;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}
.elements-container,
.elements10,
.tree-builder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elements10 {
  align-self: stretch;
  border-left: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-11xl);
  gap: var(--gap-lgi-8);
}
.elements-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 153px;
}
.symbol21 {
  margin: 0;
  align-self: stretch;
  width: 48.2px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading-316,
.sousse-tunisia3 {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.heading-316 {
  font-weight: 600;
  display: inline-block;
  min-width: 100px;
}
.sousse-tunisia3 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.heading-3-380-st-kilda-road-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.elements-child,
.elements11 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elements-child {
  width: 141.3px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  flex-shrink: 0;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}
.elements11 {
  height: 74px;
  width: 216px;
  border-left: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-mini);
  gap: var(--gap-7xs-8);
  z-index: 1;
  font-size: var(--font-size-29xl);
}
.frame-parent12 {
  flex: 1;
  justify-content: flex-start;
  min-width: 294px;
  row-gap: 20px;
}
.frame-parent10,
.frame-parent12,
.function-invoker-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  width: 859.1px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-lgi-6);
}
.function-invoker-inner {
  width: 1749.1px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.universalupscaler-b4aac4d9-48b-icon3 {
  width: 175px;
  height: 126px;
  position: absolute;
  margin: 0 !important;
  bottom: -32.2px;
  left: 307px;
  object-fit: cover;
  z-index: 2;
}
.function-invoker,
.parent-link1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.function-invoker {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  gap: var(--gap-10xl-8);
}
.parent-link1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs) var(--padding-52xl-7) var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-forestgreen-100);
  font-family: var(--font-inter);
}
.home3,
.icon34 {
  position: relative;
}
.home3 {
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.icon34 {
  width: 7.9px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper2 {
  width: 61.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.blog3,
.shop3 {
  position: relative;
  line-height: 36px;
  font-weight: 600;
}
.blog3 {
  width: 47px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.shop3 {
  display: inline-block;
  min-width: 40px;
}
.shop-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.connected-components {
  width: 134.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icon35 {
  width: 7.9px;
  height: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper3 {
  width: 61.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.contact6 {
  position: relative;
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
  min-width: 65.3px;
}
.contact-wrapper {
  width: 316.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.divelementor-widget-container-icon3 {
  align-self: stretch;
  height: 36px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.link-icon35 {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 !important;
  right: -16.7px;
  bottom: 6px;
  overflow: hidden;
  flex-shrink: 0;
}
.divelementor-widget-container-parent {
  width: 92.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-18xl-3) 0 0;
  box-sizing: border-box;
  position: relative;
}
.data-gatherer {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 8px;
}
.link25 {
  height: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-forestgreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs-5) var(--padding-12xs-5) var(--padding-8xs-5);
  box-sizing: border-box;
  z-index: 1;
}
.max-flow-calculator,
.section19 {
  display: flex;
  align-items: flex-start;
}
.max-flow-calculator {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.section19 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 128px;
  right: 0;
  left: 0;
  background-color: var(--color-floralwhite);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-12xs-4) var(--padding-xl) var(--padding-3xs-1)
    var(--padding-49xl);
  box-sizing: border-box;
  gap: var(--gap-6xs-7);
  max-width: 100%;
  z-index: 1;
}
.elements12 {
  width: 240px;
  height: 115.5px;
  position: relative;
  display: none;
  z-index: 2;
}
.heading-12 {
  margin: 0;
  width: 456px;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.biconnected-components,
.title2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.title2 {
  flex: 1;
  justify-content: center;
  padding: var(--padding-97xl-5) var(--padding-xl) var(--padding-97xl);
  background-image: url(./public/title@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 326px;
}
.biconnected-components {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 257.2px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.akid1 {
  position: relative;
  line-height: 67px;
}
.akid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.sign-in-to {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
}
.sign-in-to-akid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.data-splitter-child {
  height: 55px;
  width: 616px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.email {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.08em;
  line-height: 40px;
  font-family: var(--font-poppins);
  color: var(--color-darkgray-200);
  text-align: left;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.data-splitter,
.data-splitter-item {
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke-200);
  max-width: 100%;
}
.data-splitter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs-3) var(--padding-smi) var(--padding-6xs-7);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.data-splitter1:hover,
.data-splitter:hover {
  background-color: var(--color-gainsboro-200);
}
.data-splitter-item {
  height: 55px;
  width: 616px;
  position: relative;
  display: none;
}
.password1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.08em;
  line-height: 40px;
  font-family: var(--font-poppins);
  color: var(--color-darkgray-200);
  text-align: left;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.data-filter,
.data-splitter1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.data-splitter1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs-3) var(--padding-smi) var(--padding-6xs-7);
  background-color: var(--color-whitesmoke-200);
  align-self: stretch;
  border-radius: var(--br-2xs);
  flex-direction: row;
}
.data-filter {
  width: 616px;
  flex-direction: column;
  padding: 0 0 38.3px;
  gap: 21.3px;
  font-size: var(--font-size-47xl-6);
  font-family: var(--font-volkhov);
}
.frame-child3 {
  height: 60px;
  width: 575px;
  position: relative;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.sign-in {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.frame-child4,
.rectangle-parent4 {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent4 {
  align-self: stretch;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs)
    var(--padding-2xl);
}
.frame-child4 {
  height: 60px;
  width: 575px;
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-cornflowerblue);
  display: none;
}
.register-now {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.rectangle-parent5 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-5xs)
    var(--padding-2xl);
  color: var(--color-cornflowerblue);
}
.data-merger,
.data-merger-wrapper,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.data-merger {
  width: 575px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.data-merger-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.forget-password {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 40px;
}
.forget-password-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--color-cornflowerblue);
}
.function-invoker-wrapper,
.function-invoker1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.function-invoker1 {
  width: 628px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.function-invoker-wrapper {
  width: 1872px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 353.7px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.image22 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  overflow: hidden;
  display: none;
}
.image21 {
  width: 315px;
  height: 123.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.03;
}
.image-wrapper {
  margin-left: -424.5px;
  width: 373px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-249xl-3) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.image23 {
  height: 51.5px;
  width: 170px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.explore3 {
  position: relative;
  line-height: 36px;
  display: inline-block;
  min-width: 73.2px;
}
.after14 {
  position: absolute;
  right: -10px;
  bottom: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-forestgreen-100);
  width: 4px;
  height: 4px;
}
.spanelementor-divider-separat6 {
  width: 45px;
  height: 4px;
  position: relative;
  border-radius: var(--br-11xs);
  border-top: 4px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.data-stack,
.explore-group {
  display: flex;
  align-items: flex-start;
}
.explore-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
}
.data-stack {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-56xl-3) 0 var(--padding-56xl);
}
.majority-suffered3,
.of-lorem-ipsum3,
.there-are-many6 {
  margin: 0;
}
.there-are-many-container7 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.data-pool {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon36 {
  width: 11.3px;
  height: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.data-cylinder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.link-about3 {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.data-cloud {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-2);
}
.icon37 {
  width: 11.3px;
  height: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.link-services3 {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.frame-parent14 {
  width: 85.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-7);
}
.icon38 {
  width: 11.3px;
  height: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.icon-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.link-our3 {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame-parent15 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm-7);
}
.data-cloud-parent,
.data-pool-parent,
.frame-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-cloud-parent {
  width: 113px;
  flex-direction: column;
  gap: var(--gap-8xs-8);
}
.data-pool-parent {
  flex-direction: row;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.link-icon36,
.link-icon37,
.link-icon38,
.link-icon39 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  min-height: 40px;
}
.data-octagon,
.link-icon-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-icon-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.data-octagon {
  width: 190px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.icon39 {
  width: 11.3px;
  height: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.data-circle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.link-meet3 {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.data-circle-parent,
.data-octagon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.data-circle-parent {
  width: 148.5px;
  justify-content: flex-start;
  gap: var(--gap-sm-7);
}
.data-octagon-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.data-stack-parent,
.frame-parent13 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent13 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.data-stack-parent {
  width: 448.5px;
  align-items: flex-end;
  gap: var(--gap-lgi);
  flex-shrink: 0;
}
.icon40,
.news3 {
  position: relative;
}
.icon40 {
  height: 10px;
  width: 11.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.news3 {
  line-height: 30px;
  display: inline-block;
  min-width: 53px;
}
.after15,
.before3 {
  position: absolute;
  top: 0;
  left: 50px;
  border-radius: var(--br-11xs);
  background-color: var(--color-forestgreen-100);
  width: 4px;
  height: 4px;
}
.after15 {
  left: 0;
  width: 45px;
}
.shape-collection {
  align-self: stretch;
  height: 4px;
  position: relative;
}
.news-parent {
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xl);
}
.image24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.item-link-bringing-food-pr3 {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.back-to-cities3,
.bringing-food-production3 {
  margin: 0;
}
.heading-3-container10,
.july-5-20226 {
  position: relative;
  line-height: 26px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.july-5-20226 {
  font-size: var(--font-size-mini);
  line-height: 28.13px;
  color: var(--color-goldenrod-200);
  display: inline-block;
  min-width: 81.1px;
}
.heading-3-link-bringing-fo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-1);
}
.data-icosidodecahedron {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-8);
}
.data-dodecahedron {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.image25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.item-link-the-future-of-fa3 {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.smart-irrigation-solutions3,
.the-future-of3 {
  margin: 0;
}
.heading-3-container11,
.july-5-20227 {
  position: relative;
  line-height: 26px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.july-5-20227 {
  font-size: var(--font-size-mini);
  line-height: 28.13px;
  color: var(--color-goldenrod-200);
  display: inline-block;
  min-width: 81.1px;
}
.frame-wrapper5,
.heading-3-link-the-future-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-3-link-the-future-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-11xs-1);
}
.frame-wrapper5 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-8);
  box-sizing: border-box;
  min-width: 131px;
}
.item-link-the-future-of-fa-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footer-section-inner1,
.frame-parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent16 {
  width: 301px;
  gap: var(--gap-4xl);
}
.footer-section-inner1 {
  width: 348.5px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.contact7 {
  position: relative;
  line-height: 36px;
  display: inline-block;
  min-width: 80.3px;
}
.after16 {
  position: absolute;
  right: -10px;
  bottom: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-forestgreen-100);
  width: 4px;
  height: 4px;
}
.spanelementor-divider-separat7 {
  height: 4px;
  width: 45px;
  position: relative;
  border-radius: var(--br-11xs);
  border-top: 4px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.spanelementor-divider-separat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs-5);
}
.icon41 {
  width: 14.2px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.div2 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
}
.circle-set,
.frame-parent18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent18 {
  gap: var(--gap-4xs-9);
}
.circle-set {
  padding: 0 var(--padding-11xs) 0 var(--padding-11xs-9);
}
.icon42 {
  width: 14px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.needhelpcompanycom3 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
  white-space: nowrap;
}
.frame-parent19,
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent19 {
  align-items: flex-end;
  gap: var(--gap-4xs);
}
.frame-wrapper6 {
  align-items: flex-start;
  padding: 0 var(--padding-10xs);
}
.icon43 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-assemblage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.broklyn-golden-street3,
.new-york-usa3 {
  margin: 0;
}
.broklyn-golden-street-container5 {
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.circle-set-parent,
.heading-hierarchy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-7);
}
.circle-set-parent {
  flex-direction: column;
  gap: var(--gap-3xs-8);
}
.your-email-address3 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 109px;
}
.list-item-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.button-submit3 {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  z-index: 1;
}
.form3,
.input3 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.input3 {
  flex: 1;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    #fff;
  border: 1px solid var(--color-floralwhite);
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-lgi);
  gap: var(--gap-xl);
}
.form3 {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.frame-parent17 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xl-5);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.container-cluster,
.footer-section6,
.frame-parent17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-cluster {
  width: 270px;
  flex-direction: column;
  gap: var(--gap-3xs-5);
  flex-shrink: 0;
}
.footer-section6 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-100xl-5) var(--padding-355xl-5) 0;
  box-sizing: border-box;
  gap: var(--gap-32xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.all-copyright-20243,
.link-privacy3,
.link-terms3 {
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.link-privacy3,
.link-terms3 {
  line-height: 14px;
  display: inline-block;
  min-width: 87px;
}
.link-privacy3 {
  min-width: 92px;
  white-space: nowrap;
}
.divelementor-widget-container12,
.link-terms-of-use-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementor-widget-container12 {
  border-left: 1px solid var(--color-darkgray-100);
  padding: 0 0 0 var(--padding-base);
}
.link-terms-of-use-group {
  align-self: stretch;
  gap: var(--gap-mini-1);
}
.path-components {
  width: 208.2px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  text-align: right;
}
.footer-section7,
.login1,
.path-components {
  display: flex;
  align-items: flex-start;
}
.footer-section7 {
  align-self: stretch;
  background-color: var(--color-gray-600);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-356xl) var(--padding-xl)
    var(--padding-355xl-5);
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
}
.login1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1825px) {
  .footer-section6 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .footer-section6,
  .footer-section7 {
    padding-left: var(--padding-168xl);
    padding-right: var(--padding-168xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .section16,
  .section17,
  .section18 {
    min-width: 100%;
  }
  .section19 {
    padding-left: var(--padding-15xl);
    box-sizing: border-box;
  }
  .heading-12 {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .biconnected-components {
    padding-bottom: 167px;
    box-sizing: border-box;
  }
  .akid1 {
    font-size: var(--font-size-34xl);
    line-height: 53px;
  }
  .sign-in-to {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .function-invoker-wrapper {
    padding-bottom: 230px;
    box-sizing: border-box;
  }
  .footer-section6 {
    gap: var(--gap-7xl);
    padding-top: var(--padding-59xl);
  }
  .footer-section6,
  .footer-section7 {
    padding-left: var(--padding-74xl);
    padding-right: var(--padding-74xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent11,
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .heading-12 {
    font-size: var(--font-size-11xl);
    line-height: 36px;
  }
  .akid1 {
    font-size: var(--font-size-21xl);
    line-height: 40px;
  }
  .sign-in-to {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .function-invoker-wrapper {
    padding-bottom: 149px;
    box-sizing: border-box;
  }
  .image-wrapper {
    padding-top: var(--padding-155xl);
    box-sizing: border-box;
  }
  .explore3 {
    font-size: var(--font-size-base);
    line-height: 29px;
  }
  .data-pool {
    display: none;
  }
  .data-pool-parent {
    gap: var(--gap-mini);
  }
  .news3 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .item-link-the-future-of-fa-parent {
    flex-wrap: wrap;
  }
  .contact7 {
    font-size: var(--font-size-base);
    line-height: 29px;
  }
  .footer-section6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .link-terms-of-use-group {
    flex-wrap: wrap;
  }
}
